name: CI
on:
  push:

jobs:
  build-and-test:
    name: Build & Test
    if: !startsWith(github.ref, 'refs/pull/') && github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Set up build
        uses: s4u/setup-maven-action@v1.3.1
        with:
          java-version: '17'
          java-distribution: 'temurin'
          maven-version: 3.8.4

      - name: Build and test
        run: |
          mvn verify surefire-report:report-only --no-transfer-progress

      - name: Publish test report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Test report
          path: ${{ github.WORKSPACE }}/target/site/surefire-report.html
