name: CI
on: push

jobs:
#  Build:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v1
#
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ github.REPOSITORY_OWNER }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#
#      - name: Build image
#        uses: docker/build-push-action@v2
#        with:
#          context: .
#          target: build
#          push: false
#          tags: ${{ github.REPOSITORY }}:preview
#          cache-from: type=gha,scope=${{ github.WORKFLOW }}
#          cache-to: type=gha,scope=${{ github.WORKFLOW }}

  Check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build checker
        uses: docker/build-push-action@v2
        with:
          context: .
          target: quality-check
          push: false
          tags: quality-check:latest
          cache-from: type=gha,scope=${{ github.WORKFLOW }}
          cache-to: type=gha,scope=${{ github.WORKFLOW }}

      - name: Check quality
        run: |
          docker run -it --rm quality-check:latest

