name: Delivery
on: push
#  workflow_run:
#    workflows: [Integration]
#    types: [completed]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo Placeholder job was triggered

  deploy:
    name: Deploy
    needs: [release]
    runs-on: ubuntu-latest
    steps:
        - name: Debug
          run: echo Placeholder job was triggered

  smoke-test:
    name: Smoke Test
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo Placeholder job was triggered