name: Delivery
on:
  workflow_run:
    workflows: [Integration]
    types: [completed]
env:
  BUILD_TAG: ghcr.io/${{ github.REPOSITORY }}:${{ github.RUN_NUMBER }}

jobs:
  Release:
    if: ${{ github.EVENT.WORKFLOW_RUN.CONCLUSION == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.BUILD_TAG }}
          cache-from: type=gha,scope=${{ github.WORKFLOW }}
          cache-to: type=gha,scope=${{ github.WORKFLOW }}

  Deploy:
    needs: [Release]
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo Placeholder job was triggered

  Smoke-Test:
    name: Smoke Test
    needs: [Deploy]
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo Placeholder job was triggered