name: Delivery
on:
  workflow_run:
    workflows:
      - integration
    branches: "*"
    types:
      - completed

# TODO add requirement for main push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: DEBUG
        run: echo JUST A PLACEHOLDER FOR REAL JOB