name: Delivery
on:
  workflow_run:
    workflows:
      - "Integration"
    types:
      - completed

# TODO add requirement for main push

jobs:
  release:
    name: Release

    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo Placeholder job was triggered

  deploy:
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
        - name: Debug
          run: echo Placeholder job was triggered

  smoke-test:
    needs:
      - deploy
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: echo Placeholder job was triggered