name: Integration
on: push

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up build
        uses: s4u/setup-maven-action@v1.3.1
        with:
          java-version: '17'
          java-distribution: 'temurin'
          maven-version: 3.8.4

      - name: Compile and test
        run: |
          mvn jacoco:prepare-agent verify surefire-report:report-only jacoco:report \
            --no-transfer-progress

      - name: Publish test report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: Test report
          path: ${{ github.WORKSPACE }}/target/site/surefire-report.html

      - name: Export test coverage
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          JACOCO_SOURCE_PATH: ${{ github.WORKSPACE }}/src/main/java
        with:
          coverageLocations: ${{ github.WORKSPACE }}/target/site/jacoco/jacoco.xml:jacoco

  Api-Test:
    name: API Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Run test environment
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker-compose -f docker-compose.srv.yml -f docker-compose.app.yml up -d

      - name: Health check
        run: |
          curl http://localhost:8080/actuator/health \
          --retry 30 \
          --retry-delay 1 \
          --retry-connrefused

      - name: Download API spec
        run: |
          wget -O openapi.json http://localhost:8080/v3/api-docs

      - name: Publish API spec
        uses: actions/upload-artifact@v3
        with:
          name: API spec
          path: ${{ github.WORKSPACE }}/openapi.json
