name: Integration
on: push

jobs:
#  Build:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Set up build
#        uses: s4u/setup-maven-action@v1.3.1
#        with:
#          java-version: '17'
#          java-distribution: 'temurin'
#          maven-version: 3.8.4
#
#      - name: Compile and test
#        run: mvn jacoco:prepare-agent package surefire-report:report-only jacoco:report
#
#      - name: Publish test report
#        uses: actions/upload-artifact@v3
#        if: always()
#        with:
#          name: Test report
#          path: ${{ github.WORKSPACE }}/target/site/surefire-report.html
#
#      - name: Export test coverage
#        uses: paambaati/codeclimate-action@v3.0.0
#        env:
#          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
#          JACOCO_SOURCE_PATH: ${{ github.WORKSPACE }}/src/main/java
#        with:
#          coverageLocations: ${{ github.WORKSPACE }}/target/site/jacoco/jacoco.xml:jacoco

  Api-Test:
    name: API Test
    runs-on: ubuntu-latest
#    needs:
#      - Build
    env:
      APP_IMAGE: ${{ github.REPOSITORY }}:test
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build app image
        uses: docker/build-push-action@v2
        with:
          context: .
          load: true
          tags: ${{ env.APP_IMAGE }}
          cache-from: type=gha
          cache-to: type=gha

      - name: Run test environment
        run: docker-compose -f docker-compose.srv.yml -f docker-compose.app.yml up -d

  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.REPOSITORY_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: .
          load: true
          tags: ghcr.io/${{ github.REPOSITORY }}:${{ github.RUN_NUMBER }}
          cache-from: type=gha
          cache-to: type=gha

      # http://localhost:8080/actuator/health
      # http://localhost:8080/v3/api-docs